<html>
    <body>
        <p><%= message %></p>
        <form action="/signupPage">
            UserName<input type="text" name="UserName"/>
            Password<input type="password" name="Password"/>
            <input type="submit" value="sign Up">
        </form>
    </body>
</html>